<div class="container-fluid mt-2">
    <form [formGroup]="formUser" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group">
                <label for="name">{{ 'name' | translate }}</label>
                <input type="text" class="form-control" id="name" name="name" [value]="user.name"  formControlName="name">
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="login">{{ 'login' | translate }}</label>
                <input type="text" class="form-control" id="login" name="login" [value]="user.login"  formControlName="login">
            </div>
        </div>
        <div class="row">
            <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
                <label for="email">{{ 'email' | translate }}</label>
                <input type="text" class="form-control" id="email" name="email" [value]="user.email" formControlName="email">
                <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
                    <div *ngIf="formControls.email.errors.required">{{ 'email is required' | translate }}</div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <label for="password">{{ 'password' | translate }}</label>
                <input type="text" class="form-control" id="password" name="password" [value]="user.password"  formControlName="password">
            </div>
        </div>

        <div class="row mt-2">
            <button type="submit" class="btn btn-primary">{{ 'save' | translate }}</button>
            <button type="button" class="btn btn-primary ml-2" (click)="logout()">{{ 'exit' | translate }}</button>
        </div>
    </form>
</div>