<form [formGroup]="formLogin" class="login-container" (ngSubmit)="loginIn()">
    
    <div class="row">
        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.login.errors }">
            <label for="login">{{ 'login' | translate }}</label>
            <input type="text" class="form-control" id="login" name="login" formControlName="login">
            <div *ngIf="isSubmitted && formControls.login.errors" class="help-block">
                <div *ngIf="formControls.login.errors.required">{{ 'login is required' | translate }}</div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group" [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
            <label for="password">{{ 'password' | translate }}</label>
            <input type="password" class="form-control" id="password" name="password" formControlName="password">
            <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
                <div *ngIf="formControls.password.errors.required">{{ 'password is required' | translate }}</div>
            </div>
            <div *ngIf="isSubmitted && isInvalidLogin" class="help-block">
                {{ 'invalid email or password' | translate }}
            </div>
        </div>
    </div>

    <div class="row">
        <button type="submit" class="btn btn-primary">{{ 'enter' | translate }}</button>
    </div>
   
    <div class="row mt-2">
        <span>{{ 'dont have an account yet?' | translate }} <a routerLink="/create">{{ 'sign up here' | translate }}</a></span>
    </div>
</form>
