<div class="ml-2 mt-1 mr-2">
    <h1 class="page-header clearfix">
        <div class="form-row">
            <div class="form-group col-md-11">
                <span>{{ 'company' | translate }}</span>
            </div>
            <div class="form-group col-md-1">
                <a href="#" [routerLink]="['./', 'new']" routerLinkActive="active" class="btn btn-primary mt-3 mr-2 pull-right">
                    <span>{{ 'add' | translate }}</span>
                </a>
            </div>
        </div>
    </h1>
</div>
<div class="mt-1">
    <div class="card card-table-search">
        <div class="card-header">
            <div class="form-row align-items-center">
                <div class="col-sm-1 mt-1 mb-0">
                    <label for="">{{ 'filter by' | translate }}:</label>
                </div>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" [(ngModel)]="buscarPorTipo" name="buscarPorTipo">
                        <option *ngFor="let tipo of tipos" [value]="tipo.sigla">{{tipo.nome}}</option>
                    </select>
                </div>
                <div class="col-sm-2">
                    <select class="form-control form-control-sm" [(ngModel)]="buscarPorEstado" name="buscarPorEstado">
                        <option *ngFor="let estado of estados" [value]="estado.sigla">{{estado.nome}}</option>
                    </select>
                </div>
                <div class="col-sm-2 offset-sm-5 text-right">
                    <button type="buttton" (click)="getCompaniesByFilter()" class="btn btn-primary btn-primary-sm">
                        <span class="fa fa-search"></span> {{ 'filter' | translate }}</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-responsive-md">
                <thead class="">
                    <th scope="col">{{ 'acronym for national registry of health facilities' | translate }}</th>
                    <th scope="col" class="text-nowrap">{{ 'name of fantasy' | translate }}</th>
                    <th scope="col">{{ 'management' | translate }}</th>
                    <th scope="col">{{ 'state' | translate }}</th>
                    <th scope="col" class="text-nowrap">{{ 'county name' | translate }}</th>
                    <th scope="col" class="w-2"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let company of companies | paginate: { itemsPerPage: 20, currentPage: paginaAtual }; let i = index">
                        <td>{{company.co_cnes}}</td>
                        <td class="text-nowrap">{{company.no_fantasia}}</td>
                        <td>{{company.tp_gestao}}</td>
                        <td>{{company.uf}}</td>
                        <td class="text-nowrap">{{company.municipio}}</td>
                        <td class="pull-right mr-2 text-nowrap">
                            <a href="#" [routerLink]="['./', company.co_cnes]" routerLinkActive="active" class="text-secondary">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="#" [routerLink]="['./']" (click)="confirm(company.co_cnes)" class="text-secondary ml-2">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
                <pagination-controls (pageChange)="paginaAtual = $event" previousLabel="{{ 'previous' | translate}}" nextLabel="{{ 'next' | translate }}"></pagination-controls>
            </table>
        </div>
    </div>
</div>
