<div class="ml-2 mt-1 mr-2">
    <h1 class="page-header clearfix">
        <div class="form-row">
            <div class="form-group col-md-11">
                <span>Empresas</span>
            </div>
            <div class="form-group col-md-1">
                <a href="#" [routerLink]="['./', 'new']" routerLinkActive="active" class="btn btn-primary">
                    <span>Adicionar</span>
                </a>
            </div>
        </div>
    </h1>
</div>
<div class="mt-1">
    <div class="card card-table-search">
        <div class="card-header">
            <div class="form-row align-items-center">
                <div class="col-sm-1 mt-1 mb-0">
                    <label for="inlineFormInputName">Filtrar por:</label>
                </div>
                <div class="col-sm-2">
                    <input maxlength="14" type="text" [(ngModel)]="buscarPorCNPJ" name="buscarPorCNPJ" class="form-control form-control-sm" placeholder="CNPJ">
                </div>
                <div class="col-sm-4">
                    <input maxlength="100" type="text" [(ngModel)]="buscarPorRazaoSocial" name="buscarPorRazaoSocial" class="form-control form-control-sm" placeholder="Razão Social">
                </div>
                <div class="col-sm-2 offset-sm-3 text-right">
                    <button type="buttton" (click)="buscarEmpresas()" class="btn btn-primary btn-primary-sm">
                        <span class="fa fa-search"></span>Filtrar</button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover table-responsive-md">
                <thead class="">
                    <th scope="col" class="text-nowrap">CNPJ</th>
                    <th scope="col" class="text-nowrap">Razão Social</th>
                    <th scope="col" class="text-nowrap w-2"></th>
                </thead>
                <tbody>
                    <tr *ngFor="let empresa of empresas$ | async">
                        <td class="text-nowrap">{{empresa.cnpj}}</td>
                        <td class="text-nowrap">{{empresa.razaoSocial}}</td>
                        <td class="text-nowrap pull-right mr-2">
                            <a href="#" [routerLink]="['./', empresa.key]" routerLinkActive="active" class="text-secondary">
                                <span class="fa fa-pencil" aria-hidden="true"></span>
                            </a>
                            <a href="#" [routerLink]="['./']" (click)="delete(empresa.key)" class="text-secondary ml-2">
                                <span class="fa fa-trash" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
